<li class="timeline-inverted">
  <div class="timeline-badge success"><i class="fa fa-home"></i></div>
  <div class="timeline-panel no-underline">
    <div class="folded-csu-future"><h3>CSU</h3></div>
    <%= link_to websites_without_sso_login_path(app: 'test_netpar2015') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">TEST Netpar2015 <br><small>Biuro Informatyki</small></h4></div>
        <div class="col-sm-3"><%= image_tag("netpar2015.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Program wspomagający procesy przeprowadzania egzaminów i wydawania świadectw</p></div>
      </div>
    <% end %>
  </div>
</li>

