<li class="timeline-inverted">
  <div class="timeline-badge success"><span class="fa fa-home"></span></div>
  <div class="timeline-panel no-underline">
    <div class="folded-csu"><h3>CSU</h3></div>
    <%= link_to websites_with_sso_login_path(app: 'test_regulaminy') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">TEST REGULAMINY <br><small>S&T</small></h4></div>
        <div class="col-sm-3"><%= image_tag("uke-circle.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>System definiowania regulaminów dla systemów informatycznych UKE</p></div>         
      </div>
    <% end %>
  </div>
</li>
