<li class="timeline-inverted">
  <div class="timeline-badge success"><span class="fa fa-home"></span></div>
  <div class="timeline-panel no-underline">
    <%= link_to 'https://testesod.uke.gov.pl/sso/login', :method=>'post' do %>
    <%#= link_to websites_esod_path do %>
      <div class="timeline-heading">
        <div class="col-sm-10"><h4 class="timeline-title">TEST ESOD <small>Tensoft</small></h4></div>
        <div class="col-sm-2"><%= image_tag("esod.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <p>Elektroniczny System Obiegu Dokumentów</p>          
      </div>
    <% end %>
  </div>
</li>
