<li>
  <div class="timeline-badge info"><i class="fa fa-cloud"></i></div>
  <div class="timeline-panel no-underline">
    <div class="folded-without-csu"><h3>Logowanie klasyczne</h3></div>
    <%= link_to websites_without_sso_login_path(app: 'confluence') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">Confluence <br><small>Atlassian</small></h4></div>
        <div class="col-sm-3"><%= image_tag("confluence.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Zintegrowany z JIRA pakiet do tworzenia, organizowania i dokumentowania zadań zespołów projektowych</p></div>
      </div>
    <% end %>
  </div>
</li>

