<li>
  <div class="timeline-badge info"><i class="fa fa-globe-americas"></i></div>
  <div class="timeline-panel no-underline">
    <div class="folded-csu"><h3>CSU</h3></div>
    <%= link_to websites_with_sso_login_path(app: 'test_pit') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">TEST PIT <br><small>S&T</small></h4></div>
        <div class="col-sm-3"><%= image_tag("pit.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Punkt Informacyjny ds. Telekomunikacji</p></div>
      </div>
    <% end %>
  </div>
</li>

