<li class="timeline-inverted">
  <div class="timeline-badge success"><i class="fa fa-home"></i></div>
  <div class="timeline-panel no-underline">
    <div class="folded-without-csu"><h3>Logowanie klasyczne</h3></div>
<!-- 
    <%#= link_to 'http://e-szkolenia.uke.gov.pl/moodle', :target => "_blank" do %>
 -->
    <%= link_to websites_without_sso_login_path(app: 'szkolenia') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">E-Szkolenia <br><small>Moodle/Biuro Informatyki</small></h4></div>
        <div class="col-sm-3"><%= image_tag("uke-circle.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Program wspomagający proces przeprowadzania szkoleń</p></div>
      </div>
    <% end %>
  </div>
</li>

