<br>
<div class="center">
  <%= link_to new_user_session_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-log-in"></span>
    <%=t "devise.link_to.sign_in" %>
  <% end %>
</div>

