<li>
  <div class="timeline-badge default"><i class="fa fa-globe-americas"></i></div>
  <div class="timeline-panel no-underline">
<!-- 
    <%#= link_to 'https://numeracja.uke.gov.pl', :target => "_blank" do %>   
 -->
    <%= link_to websites_without_sso_login_path(app: 'numeracja') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">Numeracja <br><small>Biuro Informatyki</small></h4></div>
        <div class="col-sm-3"><%= image_tag("uke-circle.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Tablice Zagospodarowania Numeracji</p></div>
      </div>
    <% end %>
  </div>
</li>
