<li>
  <div class="timeline-badge default"><i class="fa fa-globe-americas"></i></div>
  <div class="timeline-panel no-underline">
    <%= link_to websites_without_sso_login_path(app: 'bip') do %>
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">BIP <br><small>Ideo</small></h4></div>
        <div class="col-sm-3"><%= image_tag("bip.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Biuletyn Informacji Publicznej</p></div>
      </div>
    <% end %>
  </div>
</li>
