<li>
  <div class="timeline-badge default"><i class="fa fa-globe-americas"></i></div>
  <div class="timeline-panel no-underline">

    <%#= link_to websites_wyszukiwarka_path do %>
    <%= link_to 'https://wyszukiwarka.uke.gov.pl', :target => "_blank" do %>   
      <div class="timeline-heading">
        <div class="col-sm-9"><h4 class="timeline-title">Wyszukiwarka <br><small>GisOnline</small></h4></div>
        <div class="col-sm-3"><%= image_tag("uke-circle.png", class: "img-circle" ) %></div>
      </div>
      <div class="timeline-body">
        <div class="col-sm-12"><p>Wyszukiwarka usług telekomunikacyjnych i zgłaszanie popytu</p></div>
      </div>
    <% end %>
  </div>
</li>
