function linkToApplication(appname){

    switch(appname) {
      case 'cbo_admin':
        return '<a href="https://cboapiadmin.uke.gov.pl/api/sso/init" target="_blank" id="myapplink"></a>';
        break;
      case 'csuext':
        return '<a href="https://csuext.uke.gov.pl/api/dashboard/Auth/SamlInit" target="_blank" id="myapplink"></a>';
        break;
      case 'egzaminy':
        return '<a href="https://egzaminy.uke.gov.pl/users/saml/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'esod':
        return '<a href="https://esod.uke.gov.pl/sso/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'esod_admin':
        return '<a href="https://esod.uke.gov.pl/admin/sso/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'intranet':
        return '<a href="https://intranet.uke.gov.pl/home/-/login/openid_connect_request?saveLastPath=false&_com_liferay_login_web_portlet_LoginPortlet_OPEN_ID_CONNECT_PROVIDER_NAME=CSU" target="_blank" id="myapplink"></a>';
        // return '<a href="https://intranet.uke.gov.pl/c/portal/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'jira':
        return '<a href="https://jira.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'confluence':
        return '<a href="https://confluence.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'matomo':
        return '<a href="https://stats.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'netpar2015':
        return '<a href="https://netpar2015.uke.gov.pl/users/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'pit':
        return '<a href="https://pit.uke.gov.pl/umbraco/surface/SSO/Login" target="_blank" id="myapplink"></a>';
        break;
      case 'pola':
        return '<a href="https://pola.uke.gov.pl/users/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'pue':
        return '<a href="https://pue.uke.gov.pl/api/Token/Sso/Init" target="_blank" id="myapplink"></a>';
        break;
      case 'pue_admin':
        return '<a href="https://admpue.uke.gov.pl/api/token/sso/init" target="_blank" id="myapplink"></a>';
        break;
      case 'regulaminy':
        return '<a href="https://regulaminy.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'szkolenia':
        return '<a href="http://e-szkolenia.uke.gov.pl/moodle" target="_blank" id="myapplink"></a>';
        break;
      case 'test_cbo_admin':
        return '<a href="https://testcboadmin.uke.gov.pl/api/sso/init" target="_blank" id="myapplink"></a>';
        break;
      case 'test_csuext':
        return '<a href="https://testcsuext.uke.gov.pl/api/dashboard/Auth/SamlInit" target="_blank" id="myapplink"></a>';
        break;
      case 'test_egzaminy':
        return '<a href="https://egzaminy-test.uke.gov.pl/users/saml/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'test_esod':
        return '<a href="https://testesod.uke.gov.pl/sso/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'test_esod_admin':
        return '<a href="https://testesod.uke.gov.pl/admin/sso/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'test_intranet':
        return '<a href="https://testintranet.uke.gov.pl/home/-/login/openid_connect_request?saveLastPath=false&_com_liferay_login_web_portlet_LoginPortlet_OPEN_ID_CONNECT_PROVIDER_NAME=TestCSU" target="_blank" id="myapplink"></a>';
        // return '<a href="https://testintranet.uke.gov.pl/c/portal/login" data-method="post" target="_blank" id="myapplink"></a>';
        break;
      case 'test_netpar2015':
        return '<a href="https://netpar2015-test.uke.gov.pl/users/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'test_pit':
        return '<a href="https://testpit.uke.gov.pl/umbraco/surface/SSO/Login" target="_blank" id="myapplink"></a>';
        break;
      case 'test_pola':
        return '<a href="https://pola-test.uke.gov.pl/users/sign_in" target="_blank" id="myapplink"></a>';
        break;
      case 'test_pue':
        return '<a href="https://testpue.uke.gov.pl/api/Token/Sso/Init" target="_blank" id="myapplink"></a>';
        break;
      case 'test_pue_admin':
        return '<a href="https://testadmpue.uke.gov.pl/api/token/sso/init" target="_blank" id="myapplink"></a>';
        break;
      case 'test_regulaminy':
        return '<a href="https://testregulaminy.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'test_hotspot':
        return '<a href="https://testhotspot.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'otrs':
        return '<a href="https://helpdesk.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'zabbix':
        return '<a href="http://10.100.2.201/zabbix" target="_blank" id="myapplink"></a>';
        break;
      case 'zabbix_old':
        return '<a href="https://ocsinventory/zabbix" target="_blank" id="myapplink"></a>';
        break;
      case 'amator':
        return '<a href="https://amator.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'confirmation':
        return '<a href="https://confirmation.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'legalis':
        return '<a href="https://legalis.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'www':
        return '<a href="http://uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'bip':
        return '<a href="http://bip.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'cik':
        return '<a href="http://cik.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'dziennik':
        return '<a href="http://edziennik.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'mapbook':
        return '<a href="https://mapbook.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'numeracja':
        return '<a href="https://numeracja.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      case 'wyszukiwarka':
        return '<a href="https://wyszukiwarka.uke.gov.pl" target="_blank" id="myapplink"></a>';
        break;
      default:
        return '';
    };
};
